/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
/* section-1 related styles */

.banner {
  display: flex;
  align-items: center;
  padding: 30px 30px 0px 150px;
  gap: 400px;
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 0;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  margin-top: 32px;
}
/* section-2 related styles */
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
}
.featured-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.featured-content {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin-top: 30px;
}
.featured-description {
  padding: 30px;
}
#feature-img-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 450px;
  padding: 50px;
}
#featured-img-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 450px;
  padding: 50px;
}
#featured-img-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 450px;
  padding: 50px;
}
.featured-heading {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
/* section-3 related styles */
.discount {
  display: flex;
  align-items: center;
  padding: 150px;
  gap: 500px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.discount-content {
  text-align: center;
}
.discount-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
#pink {
  color: #e55473;
}
.discount-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  width: 500px;
}
/* section-4 related styles */
.instagram-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
